.bordered-div-row
{
   border: 1px solid #ddd;
}

.bordered-div-group .bordered-div-row:nth-child(n+2)
{
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
}

.bordered-div-header {
   border-bottom: 1px solid #ddd;
}

.bordered-div-header-flex {
   border-bottom: 1px solid #ddd;
}
